<configuration>
    <system.webServer>
    <rewrite>
            <rules>
                <rule name="ReqToServerjs">
                    <match url=".*" />
                    <action type="Rewrite" url="bundle.js" />
                </rule>
                <rule name="ReqToServerjs2">
                    <conditions>
                <add input="{REQUEST_METHOD}" pattern="^POST$" />
                </conditions>
                </rule>
            </rules>
        </rewrite>
        <handlers>
        <add name="iisnode" path="bundle.js" verb="*" modules="iisnode" />
        </handlers>
        <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="iisnode" />
         </hiddenSegments>
       </requestFiltering>
     </security>
     
    </system.webServer>
</configuration>